Source: custodian
Section: net
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs
Standards-Version: 3.9.1

Package: custodian
Architecture: all
Depends: ruby1.8, libjson-ruby1.8, libbeanstalkclient-ruby1.8, ${misc:Depends}
Suggests: beanstalkd
Description: This package provides remote monitoring
 This package allows you to setup a semi-distributed monitoring
 solution, using the Bytemark MauveAlert server for notication.
 .
 The monitoring will consist of a system to enqueue tests in
 a beanstalkd server, and an agent that will fetch tests from
 that same queue and execute them.
