Source: custodian
Section: net
Priority: extra
Maintainer: Steve Kemp <steve@bytemark.co.uk>
Build-Depends: debhelper (>= 7.0.0), cdbs, txt2man, ruby1.8
Standards-Version: 3.9.1
Homepage: https://projects.bytemark.co.uk/projects/custodian/


Package: custodian
Architecture: all
Depends: ruby1.8, libbeanstalkclient-ruby1.8, rubygems, ${misc:Depends}, libldap-ruby1.8
Suggests: beanstalkd, mauvealert-client (>= 3.13.1)
Description: This package provides remote monitoring
 This package allows you to setup a semi-distributed monitoring
 solution, using the Bytemark MauveAlert server for notification.
 .
 The monitoring consists of a system to enqueue tests in
 a beanstalkd server, and an agent that will fetch tests from
 that same queue and execute them.

Package: custodian-bytemark
Architecture: all
Depends: custodian, ruby1.8, ${misc:Depends}
Description: Bytemark-specific add-ons for Custodian.
 This package contains some monitoring for the monitor,
 to ensure that custodian isn't failing to parse configuration
 files, or failing to empty the queue.
 .
 It might be useful reference material for others but it is
 explicitly Bytemark-specific
