
#
# This configuration file controls global settings for the
# custodian alerter
#



#
# The address if the beanstalkd server to use
#
# queue_server = 127.0.0.1:11300

#
# The alerting method to use
#
# alerter = smtp
# alerter = mauve


#
# The log-file to use for the worker
#
# log_file = custodian-dequeue.log


#
# The timeout period to use for tests
#
# timeout = 30
